
<ion-view>
  <ion-content class="about-bg about-text">
    <div class="order-main text-center">
        <h3 class="text-center text-uppercase text-in-shadow font-america">About us</h3>
      </div>

<div class="list card">

  <div class="item heading">
    <h3 class="text-center text-uppercase text-in-shadow font-america">smaaash</h3>
  </div>

  <div class="item item-image">
    <img src="img/smashing.png" alt="smaaash" class="img-responsive">
  </div>

    <p>Brain child of the multi-faceted Mr. Shripal Morakhia, Smaaash offers a lot more than your run-of-the-mill banquet hall and gaming center. It presents an unmatched range of games that offer a superlative virtual-reality experience, and combines the best of sports, music and dining into a highly immersive, interactive, innovative and involved entertainment experience. Smaaash has not only redefined sports entertainment, but also raised the bar for customer engagement. This innovative entertainment and active engagement is what defines Smaaash.</p>

</div>
<div class="list card">

  <div class="item heading">
    <h3 class="text-center text-uppercase text-in-shadow font-america">chief imagination officer</h3>
  </div>

  <div class="item item-image">
    <img src="img/sm.png" alt="shripal morakia" class="img-responsive">
  </div>

    <p>Shripal Morakhia is the founder of SMAAASH Entertainment Pvt. Ltd. and the owner of iDream Production Pvt. Ltd. Mr. Morakhia brings with him rich, top management level corporate experience, acquired while working for renowned companies viz.</p>

</div>

<div class="list card">

  <div class="item heading">
    <h3 class="text-center text-uppercase text-in-shadow font-america">brand ambassador</h3>
  </div>

  <div class="item item-image">
    <img src="img/sachinva.png" alt="sachin" class="img-responsive">
  </div>

    <p>Cricketing legend and icon -
Sachin Tendulkar has been an integral part of the SMAAASH family since its inception in 2012. In his own words, 'The advanced simulators at SMAAASH are fascinating and are very close to the real life experience'</p>

</div>

  </ion-content>
</ion-view>
