<ion-view>
  <ion-content class="account-main">
    <div class="account-banner">
      <div class="banner-imgholder relate" ng-click="getPlan();">
        <!-- <img src="img/account-info.png" alt="" class="img-responsive"> -->
        <img src="img/info-account.jpg" alt="" class="img-responsive">
        <div class="account-marker">
          <img src="img/account-marker.png" alt="" class="img-responsive" width="30">
        </div>
      </div>
    </div>
    <div class="profile-strip profile-info">
      <div class="row">
        <div class="col col-25">
          <div class="relate">
            <div class="profile-img">
              <img src="img/profile-img.jpg" alt="" class="img-responsive">
            </div>
            <div class="plan" ng-click="getPlan();">
              <img src="img/silver.png" alt="silver" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="col col-75">
          <div class="clearfix relate">
            <div class="name pull-left">
              <h4 class="m-clear text-in-shadow color-white font-america">Amrit Bhamrah</h4>
              <span class="text-in-shadow color-white font-america">Cricketer</span>
            </div>
            <div class="slash">
              <span class="text-in-shadow color-white font-galano">&#47;</span>
            </div>
            <div class="name pull-right">
              <h4 class="m-clear text-in-shadow color-white font-america">33500</h4>
              <span class="text-in-shadow color-white font-america">Points</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="account-more-info">
      <div class="row">
        <div class="col col-offset-10 col-80">
          <div class="text-center">
            <h3 class="text-uppercase text-in-shadow font-america mb5">Headline</h3>
            <p class="color-white font-galano">Lorem Ipsum is simply dummy text</p>
          </div>
          <div class="account-info">
            <div class="row">
              <div class="col col-50">
                <div class="img-holder history"> 
                    <img src="img/wishlist.jpg" alt="" class="img-responsive" ui-sref="app.wishlist">
                    
                </div>
              </div>
              <div class="col col-50">
                <div class="img-holder order">
              <img src="img/account-order.jpg" alt="" class="img-responsive" ui-sref="app.order">
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <div class="img-holder profile">
                  <img src="img/account-edit.jpg" alt="" class="img-responsive" ui-sref="app.profile">
                </div>
              </div>
              <div class="col col-50">
                <div class="img-holder offer">
                  <img src="img/account-offers.jpg" alt="" class="img-responsive" ui-sref="app.offers">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
