<ion-view>
  <ion-content class="attraction-bg attractions about-text attract-new">
    <div class="order-main text-center clearfix">
      <h3 class="text-center text-uppercase text-in-shadow font-america pull-left">attractions</h3>
      <span class="pull-right pointer" ng-click="getPlan();"><img src="img/filters.png" alt="" width="80" class="img-responsive"></span>
    </div>

    <div class="list card" ng-repeat="data in singleAttraction">
      <div class="karting-championship">
        <div class="brand-blue relate">
          <img ng-src="{{data.image | uploadpath}}" class="img-responsive" alt="">
          <a href="" class="pink-button"><img src="img/pinky.png" class="img-responsive" alt="" ng-if="data.video"></a>
        </div>
        <div class="new-detail">
          <div class="clearfix ">
            <div class="head-name pull-left">
              <h3 class="margin0 bluey text-uppercase font-america " ng-bind-html="data.hometext"></h3>
              <p ng-hide="data.gameforarray==''">Game For: <span class="bluey"><span ng-repeat="per in data.gameforarray track by $index">{{per}} <span ng-if="$index<data.gameforarray.length-2">|</span>
                <span ng-if="$index==data.gameforarray.length-2">&</span> </span>
                </span>
              </p>
            </div>
            <div class="views inline-block pull-right" ui-sref="app.cricket({id:data._id})">
              <button class="text-uppercase bluey pull-right">view</button>
            </div>
          </div>
          <div class="button-set clearfix">
            <button class="text-uppercase blue pull-left">buy </button>
            <div class="love pull-right">
              <button class="text-uppercase" ng-click="addedToWishList(data._id)">
                <span class="ion text-uppercase" ng-class="{'ion-ios-heart-outline':!isInWishlist(data._id),'ion-heart':isInWishlist(data._id)}"> would love to try</span>
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div ng-if="msg" class="text-center">No Options Available As Per Your Criteria.</div>
    <!-- <div class="list card">
  <div class="karting-championship">
    <div class="brand-blue relate">
    <img src="img/explore1.png" class="img-responsive" alt="">
      <a href="" class="pink-button"><img src="img/pinky.png" class="img-responsive" alt=""></a>
    </div>
    <div class="new-detail">
      <div class="clearfix ">
        <div class="head-name pull-left">
 <h3 class="margin0 bluey text-uppercase font-america ">smaaash cricket</h3>
         <p>Game For: <span  class="bluey">Male | Female &amp; Children</span></p>
        </div>

        <div class="views inline-block pull-right"><button class="text-uppercase bluey pull-right">view</button></div>
      </div>



    <div class="button-set clearfix">

  <button class="text-uppercase blue pull-left">buy </button>
  <div class="love pull-right"><button class="text-uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
</div>

    </div>
    </div>
</div> -->


  </ion-content>
</ion-view>
