
<ion-view>
  <ion-content class="attraction-bg attractions about-text">
    <div class="order-main text-center clearfix">
        <h3 class="text-center text-uppercase text-in-shadow font-america pull-left">attractions</h3>
          <span class="pull-right pointer" ng-click="getPlan();"><img src="img/filters.png" alt="" width="80" class="img-responsive"></span>
      </div>

<div class="list card">
  <div class="karting-championship">
    <div class="brand-blue relative">
    <img src="img/explore1.png" class="img-responsive" alt="">
      <a href="" class="pink-button"><img src="img/pinky.png" class="img-responsive" alt=""></a>
    </div>
    <div class="new-detail">
        <div class="views inline-block"><button class="text-uppercase bluey">view</button></div>
    <h3 class="margin0 bluey text-uppercase font-america">smaaash cricket</h3>
    <p>Game For: <span  class="bluey">Male | Female &amp; Children</span></p>
    <div class="button-set">
  <button class="text-uppercase blue">events</button>
  <button class="text-uppercase blue">deals and paackages</button>
  <button class="text-uppercase blue">buy now</button>
</div>
<div class="love"><button class="text-uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
    </div>



  <!-- <div class="item item-image">
    <img src="img/appcricket.png" alt="smaaash" class="img-responsive">
  </div>
    <div class=" border-changes">
    <p>Brain child of the multi-faceted Mr. Shripal Morakhia, Smaaash offers a lot more than your run-of-the-mill banquet hall and gaming center. It presents an unmatched range of games that offer a superlative virtual-reality experience, and combines the best of sports, music and dining into a highly immersive, interactive, innovative and involved entertainment experience. Smaaash has not only redefined sports entertainment, but also raised the bar for customer engagement. This innovative entertainment and active engagement is what defines Smaaash.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore qui voluptates nisi!</p>
</div> -->
</div>
<div class="list card">

  <div class="item heading">
    <h3 class="text-center text-uppercase text-in-shadow font-america">chief imagination officer</h3>
  </div>

  <div class="item item-image">
    <img src="img/sm.png" alt="shripal morakia" class="img-responsive">
  </div>

    <p>Shripal Morakhia is the founder of SMAAASH Entertainment Pvt. Ltd. and the owner of iDream Production Pvt. Ltd. Mr. Morakhia brings with him rich, top management level corporate experience, acquired while working for renowned companies viz.</p>

</div>

<div class="list card">

  <div class="item heading">
    <h3 class="text-center text-uppercase text-in-shadow font-america">brand ambassador</h3>
  </div>

  <div class="item item-image">
    <img src="img/sachinva.png" alt="sachin" class="img-responsive">
  </div>

    <p>Cricketing legend and icon -
Sachin Tendulkar has been an integral part of the SMAAASH family since its inception in 2012. In his own words, 'The advanced simulators at SMAAASH are fascinating and are very close to the real life experience'</p>

</div>

  </ion-content>
</ion-view>
