
<ion-view>
  <ion-content class="beverage-bg">
    <div class="order-main text-center">
      <h3 class="text-center text-uppercase text-in-shadow font-america">food &amp; beverages</h3>
    </div>
  
      <div class="list card">
   <div class="restaurant-name">
       <img src="img/uncocked.png" class="img-responsive" alt="">
   </div>
   <div class="restaurant-detail">
         <h3 class="text-uppercase font-america color-white">uncorked</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repudiandae inventore beatae. Atque nobis porro architecto repudiandae qui! Dolores, enim. Velit debitis ea, praesentium voluptate delectus vitae saepe quod laborum!</p>
   </div>
    <a href="" class="inline-block"> <img src="img/buy.png" class="img-responsive" alt=""></a>
      <a href="" class="inline-block"> <img src="img/camera.png" class="img-responsive" alt=""></a>
      </div>
         <div class="list card">
   <div class="restaurant-name">
       <img src="img/know-more.png" class="img-responsive" alt="">
   </div>
   <div class="restaurant-detail">
         <h3 class="text-uppercase font-america color-white">uncorked</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repudiandae inventore beatae. Atque nobis porro architecto repudiandae qui! Dolores, enim. Velit debitis ea, praesentium voluptate delectus vitae saepe quod laborum!</p>
   </div>
   <a href="" class="inline-block"> <img src="img/buy.png" class="img-responsive" alt=""></a>
      <a href="" class="inline-block"> <img src="img/camera.png" class="img-responsive" alt=""></a>
      </div>
  </ion-content>
</ion-view>
