<ion-view>
  <ion-content class="choose-avatar bonus-bg ">
    <div class="">
      <div class="logo text-center">
        <a href=""><img src="img/big-logo.png" width="140" alt="Smaash"></a> 
      </div>
      <div class="list">
  <div class="abs">
<div class="bonus-img">
    <img src="img/banners/pinky.png" alt="">
    <div class="bonus-text text-center">
  <p class="text-uppercase text-center text-in-shadow font-america">35,000</p>
    <p class="color-white text-in-shadow">Smaaash points <br> have been <br> successfully added!</p>
    </div>
  
</div>

     </div>
    
      </div>
    <div class="buttons">
     <a href="" class="share pull-left"><img src="img/banners/share.png" alt=""> </a>
      <a href=""  class="review pull-right"> <img src="img/banners/review.png" alt=""></a>
      <div class="clearfix"></div>
  <a href="" class="block next text-center"> <img src="img/banners/next.png" alt=""></a>
</div>


    </div>
  </ion-content>
</ion-view>
