<ion-view>
  <ion-content class="buy-recharge">
    <div class="buy-main">
      <div class="row">
        <div class="col col-offset-10 col-80">
          <div class="text-center">
            <h3 class="text-uppercase text-in-shadow font-america mb5">Buy &amp; Recharge</h3>
            <p class="color-white font-galano">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="recharge-list">
            <div class="img-holder pointer" ui-sref="app.recharge">
              <img src="img/buy-recharge.jpg" alt="" class="img-responsive">
            </div>
            <div class="img-holder pointer">
              <img src="img/deals-package.jpg" alt="" class="img-responsive" ui-sref="app.deals">
            </div>
            <div class="img-holder pointer">
              <img src="img/game-purchase.jpg" alt="" class="img-responsive" ui-sref="app.game">
            </div>
            <div class="img-holder pointer">
              <img src="img/exculsive.jpg" alt="" class="img-responsive" ui-sref="app.merchandise">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
