
<ion-view>
  <ion-content class="cart-bg about-text cart-text">
    <div class="order-main text-center">
        <h3 class="text-center text-uppercase text-in-shadow font-america">add to cart</h3>
      </div>

<div class="list card relate">
  <div class="item item-image cut">
    <img src="img/close-popup.png" alt="close" class="img-responsive">
  </div>
<div class="row">
  <div class="col">
    <div class="item item-image">
      <img src="img/karting.jpg" alt="karting" class="img-responsive">
    </div>
  </div>
  <div class="col">
    <div class="quant-status">
    <div class="row">
      <div class="col-50">
          <span>QUANTITY</span>
      </div>
      <div class="col-50">
          <span class="quantity">1</span>
      </div>
    </div>
    </div>
    <div class="quant-status">
    <div class="row">
      <div class="col-50">
          <span>PRICE</span>
      </div>
      <div class="col-50">
          <span class="quantity">699/-</span>
      </div>
    </div>
    </div>
  </div>
</div>


</div>

<div class="list card relate">
  <div class="item item-image cut">
    <img src="img/close-popup.png" alt="close" class="img-responsive">
  </div>
<div class="row">
  <div class="col">
    <div class="item item-image">
      <img src="img/karting.jpg" alt="karting" class="img-responsive">
    </div>
  </div>
  <div class="col">
    <div class="quant-status">
    <div class="row">
      <div class="col-50">
          <span>QUANTITY</span>
      </div>
      <div class="col-50">
          <span class="quantity">1</span>
      </div>
    </div>
    </div>
    <div class="quant-status">
    <div class="row">
      <div class="col-50">
          <span>PRICE</span>
      </div>
      <div class="col-50">
          <span class="quantity">699/-</span>
      </div>
    </div>
    </div>
  </div>
</div>


</div>

<div class="list card clearfix">

  <div class="amount-letter pull-left">
  <span>Total:</span>
  <span><img src="../img/rupee.png" alt="rupee" class="img-responsive">1398</span>
  </div>
  <div class="order pull-right">
    <div class="item item-image cut">
      <img src="img/order.png" alt="close" class="img-responsive">
    </div>
  </div>
</div>

  </ion-content>
</ion-view>
