<ion-view>
  <ion-content class="payment">
    <div class="confirm-order">
      <h3 class="text-center text-uppercase text-in-shadow font-america">Confirm your order</h3>
      <div class="user-detail">
        <div class="row">
          <div class="col col-25">
            <div class="user-img relate">
              <div class="profile-pic">
                <img src="img/profile-img.jpg" alt="" class=" img-responsive">
              </div>
              <div class="plan">
                <img src="img/silver.png" alt="silver" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col col-75">
            <div class="">
              <h3 class="name text-uppercase color-white text-in-shadow m-clear font-america">amrit bhamrah</h3>
              <span class="shadow-text color-white font-america">Cricketer</span>
              <p class="color-white m-clear">Order No: <span class="font-bold">1458022568</span></p>
              <p class="color-white m-clear">Order Amount: INR<span class="font-bold">1222.00</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="billing-information resgistration">
        <h3 class="text-center text-uppercase text-in-shadow font-america mb5">Billing Information</h3>
        <ion-list>
          <div class="row">
            <div class="col col-offset-10 col-80">
              <form class="font-galano">
                <label class="item item-input">
                  <input type="text" placeholder="Name">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Address">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="City">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="State">
                </label>
                <label class="item item-input">
                  <input type="tel" placeholder="Pin Code">
                </label>
                <label class="item item-input">
                  <input type="tel" placeholder="Mobile">
                </label>
                <label class="item item-input">
                  <input type="email" placeholder="Email Id">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Note (optional)">
                </label>
                <button type="submit" name="button" class="go full-width" ui-sref="app.payment">
                  <img src="img/go.png" alt="" class="img-responsive">
                </button>
                <!-- <p class="text-center color-white">OR</p>
                <p class="text-center color-white" ui-sref="noheader.avatar">Continue without Signing in</p> -->
              </form>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
