<ion-view>
  <ion-content class="cricket-bg">
    <div class="order-main text-center">
      <h3 class="text-center text-uppercase text-in-shadow font-america" ng-bind-html="cricket.hometext"></h3>
    </div>
    <div class="list card brand-purblu">
      <div class="row">
        <div class="col-50">
          <div class="item item-image brand-blue">
            <img ng-src="{{cricket.image | uploadpath}}">
          </div>
        </div>
        <div class="col-50">
          <div class="button-set">
            <button class="text-uppercase blue">buy now</button>
          </div>
          <div class="love">
            <button class="text-uppercase" ng-click="addedToWishList(cricket._id)"><span class="ion text-uppercase" ng-class="{'ion-ios-heart-outline':!isInWishlist(cricket._id),'ion-heart':isInWishlist(cricket._id)}"> would love to try</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-list">
      <div class="list card">
      <ion-list class="accordion ">
          <ion-item class="item item-text-wrap done relate">
            <div ng-class="isItemShown(1) ? 'item-expand active' : 'item-expand inactive'">
              <h2 class="text-left  text-uppercase text-in-shadow font-america ">Game description</h2>
              <div class="clearfix"></div>
              <p ng-bind-html="cricket.description | htmlToPlaintext"></p>
                <p ng-if="cricket.description ===''" class="text-center">Nothing to show.</p>
            </div>
            <div ng-click="toggleItem(1)" class="item-expand-footer">
              <i ng-class="isItemShown(1) ? 'ion-minus' : 'ion-plus'"></i>

            </div>
          </ion-item>
        </ion-list>
        <ion-list class="accordion ">
          <ion-item class="item item-text-wrap done relate">
            <div ng-class="isItemShown(2) ? 'item-expand active' : 'item-expand inactive'">
              <h2 class="text-left  text-uppercase text-in-shadow font-america ">timing and pricing</h2>
              <div class="clearfix"></div>
              <p ng-bind-html="cricket.timingAndPricing | htmlToPlaintext"></p>
              <p ng-if="cricket.timingAndPricing===''" class="text-center">Nothing to show.</p>
            </div>
            <div ng-click="toggleItem(2)" class="item-expand-footer">
              <i ng-class="isItemShown(2) ? 'ion-minus' : 'ion-plus'"></i>

            </div>
          </ion-item>
        </ion-list>
        <ion-list class="accordion ">
          <ion-item class="item item-text-wrap done relate">
            <div ng-class="isItemShown(3) ? 'item-expand active' : 'item-expand inactive'">
              <h2 class="text-left  text-uppercase text-in-shadow font-america ">technology</h2>
              <div class="clearfix"></div>
              <p ng-bind-html="cricket.technology |htmlToPlaintext"></p>
              <p ng-if="cricket.technology===''" class="text-center">Nothing to show.</p>
            </div>
            <div ng-click="toggleItem(3)" class="item-expand-footer">
              <i ng-class="isItemShown(3) ? 'ion-minus' : 'ion-plus'"></i>

            </div>
          </ion-item>
        </ion-list>
        <ion-list class="accordion ">
          <ion-item class="item item-text-wrap done relate">
            <div ng-class="isItemShown(4) ? 'item-expand active' : 'item-expand inactive'">
              <h2 class="text-left  text-uppercase text-in-shadow font-america ">promotions</h2>
              <div class="clearfix"></div>
              <p ng-repeat="data in cricket.multipleattraction" ng-bind-html="data.text |htmlToPlaintext"></p>
              <p ng-if="cricket.multipleattraction.length === 0 " class="text-center">Nothing to show.</p>
            </div>
            <div ng-click="toggleItem(4)" class="item-expand-footer">
              <i ng-class="isItemShown(4) ? 'ion-minus' : 'ion-plus'"></i>

            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
