
<ion-view>
  <ion-content class="deals-bg order-text dealings">
    <div class="order-main text-center">
        <h3 class="text-center text-uppercase text-in-shadow font-america">Deals and Packages</h3>
      </div>
      <div class="list card" ng-repeat="data in SingleDealsPackages">
  <div class="item item-image">
    <img ng-src="{{data.image | uploadpath}}">
  </div>
  <!-- <a href="" class="pink-button"><img src="img/button.png" class="img-responsive" alt=""></a> -->
  <a class="item item-icon-left assertive click" href="">
  <h3 class="margin0 brand-white text-uppercase" ng-bind-html="data.hometext"></h3>
  <h3 class="margin0 brand-white text-uppercase" ng-if="!data.hometext">Nothing to show.</h3>
  </a>

</div>
<!-- <div class="list card">
<div class="item item-image">
<img src="img/monsson.png">
</div>
<a href="" class="pink-button"><img src="img/button.png" class="img-responsive" alt=""></a>
<a class="item item-icon-left assertive click" href="">
<h3 class="margin0 brand-white">MONSOON DAY PASS!</h3>
</a>

</div>
<div class="list card">
<div class="item item-image">
<img src="img/monsson.png">
</div>
<a href="" class="pink-button"><img src="img/button.png" class="img-responsive" alt=""></a>
<a class="item item-icon-left assertive click" href="">
<h3 class="margin0 brand-white">MONSOON DAY PASS!</h3>
</a>

</div> -->
    <!-- <ion-list no-lines>
  <ion-item class="deals pointer text-center">
    <img src="img/monsson.png" alt="monsoon-deals" class="img-responsive">
      <a href="" class="pink-button"><img src="img/button.png" class="img-responsive" alt=""></a>
      <h3 class="margin0 brand-white">MONSOON DAY PASS!</h3>
  </ion-item>
  <ion-item class="deals pointer text-center">
    <div class="race relate">
      <img src="img/monsson.png" class="img-responsive" alt="">
        <a href="" class="pink-button"><img src="img/button.png" class="img-responsive" alt=""></a>
      <div class="race-text">
          <h3 class="margin0 brand-white">MONSOON DAY PASS!</h3>
      </div>
    </div>
  </ion-item>
  <ion-item class="deals pointer text-center">
    <img src="img/monsson.png" alt="monsoon-deals" class="img-responsive">
  </ion-item>
</ion-list> -->
  </ion-content>
</ion-view>
