<ion-view>
  <ion-content class="direction">
    <div class="direction-main text-center">
      <h3 class="text-center text-uppercase text-in-shadow font-america">Direction</h3>
      <div class="list">
<div class="">
  <div class="list">
<a href=""><img src="img/arrows.png" alt=""></a>
<!-- <label class="item item-input item-select"> -->
<!-- <div class="input-label">
  Lightsaber
</div> -->
<select ng-model="city" id="city" ng-change="initMap(city)">
  <option ng-option value=""disabled ng-selected="true">select city</option>
  <option ng-option value="Mumbai" >Mumbai</option>
  <option ng-option value="Gurgoan">Gurgoan</option>
  <option ng-option value="Hyderabad">Hyderabad</option>
  <option ng-option value="Bengluru">Bengluru</option>
  <option ng-option value="Noida">Noida</option>
</select>
<!-- </label> -->
</div>
  <!-- <label for="" class="font-america text-center text-uppercase text-in-shadow" ng-click="initMap(city);">get directions</label> -->
  <div id="map"></div>
<!-- <div id="right-panel">
  <p class="font-america text-center text-uppercase text-in-shadow">Total Distance: <span id="total"></span></p>
</div> -->
<!-- Replace the value of the key parameter with your own API key. -->
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqi7xWdMJXtfkOHJ8ofwCBF6IZDray_bI&callback=initMap">
</script> -->
</div>
    </div>
  </ion-content>
</ion-view>
