<ion-view>
  <ion-content class="direction">
    <div class="direction-main text-center mt10">
      <h3 class="text-center text-uppercase text-in-shadow">Directions</h3>
      <p class=" text-center color-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="map">
        <div class="see-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d120714.9762666994!2d72.75603164166365!3d19.00460121904689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3be7ce936967b06f%3A0x632065952895a84c!2sSmaaash%2C+Lower+Parel%2C+Mumbai%2C+Maharashtra!3m2!1d19.004614399999998!2d72.82607209999999!5e0!3m2!1sen!2sin!4v1465295652927" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <ion-list class="direction-list">
        <ion-item >
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
        <ion-item >
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
