<ion-view>
  <ion-content class="event">
    <div class="event-main">
      <div class="row">
        <div class="col col-offset-10 col-80">
          <h3 class="text-center text-uppercase text-in-shadow font-america">Events &amp; challenges</h3>
          <p class=" text-center color-white font-galano">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="event-list recharge-list">
            <div class="img-holder pointer">
              <img src="img/events.jpg" alt="" class="img-responsive" ui-sref="app.events">
            </div>
            <div class="img-holder pointer">
              <img src="img/tournament.jpg" alt="" class="img-responsive" ui-sref="app.tournaments">
            </div>
            <div class="img-holder pointer">
              <img src="img/challenges.jpg" alt="" class="img-responsive" ui-sref="app.challenges">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
