<ion-view>
  <ion-content class="explore-smaash">
    <div class="explore-main">
      <div class="text-center">
        <h3 class="text-uppercase text-in-shadow font-america mb5">Explore Smaaash</h3>
        <p class="color-white font-galano">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <ion-list>
        <ion-item class="new" ng-if="whatsnew.length>0">
          <div class="explore-slider">
            <h4 class="text-uppercase text-in-shadow font-america">Whats New</h4>
            <ion-slide-box auto-play="false" delegate-handle="first" ng-if="whatsnew.length>0">
              <ion-slide ng-repeat="new in whatsnew track by $index">
                <div class="custom-slider">
                  <img ng-src="{{new.image|uploadpath}}" alt="" class="img-responsive" width="" ui-sref="app.whatsnew({id:new.type._id})">
                  <!-- <img ng-src="{{new}}" alt="" class="img-responsive" width=""> -->
                </div>
              </ion-slide>
              <div class="custom-btn" ng-click="nextSlide('first');">
                <img src="img/slider-button.png" alt="" class="img-responsive">
              </div>
            </ion-slide-box>
          </div>
        </ion-item>
        <ion-item class="attraction"  ng-if="attraction.length>0">
          <div class="explore-slider">
            <h4 class="text-uppercase text-in-shadow font-america">Attractions</h4>
            <!-- {{smaaashAttract[1]}} -->
            <ion-slide-box delegate-handle="sec" >
              <!-- <ion-slide > -->
              <ion-slide ng-repeat="attract in attraction track by $index">
                <img ng-src="{{attract.image|uploadpath}}" alt="" class="img-responsive" width="" ui-sref="app.cricket({id:attract._id})">
              <!-- </ion-slide> -->
              </ion-slide>
              <div class="custom-btn" ng-click="nextSlide('sec');">
                <img src="img/slider-button.png" alt="" class="img-responsive">
              </div>
            </ion-slide-box>
          </div>
        </ion-item>
        <ion-item class="party"  ng-if="hostParty.length>0">
          <div class="explore-slider">
            <h4 class="text-uppercase text-in-shadow font-america">Host a party</h4>
            <ion-slide-box delegate-handle="third" >
              <ion-slide ng-repeat="party in hostParty track by $index">
                <img ui-sref="app.party({id:party.type._id})" ng-src="{{party.image|uploadpath}}" alt="" class="img-responsive" width="">
              </ion-slide>
              <div class="custom-btn" >
                <!-- ng-click="nextSlide('third');" -->
                <img src="img/slider-button.png" alt="" class="img-responsive">
              </div>
            </ion-slide-box>
          </div>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
