<ion-side-menus class="header">
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar bar-light  nav-title-slide-ios">
      <ion-nav-buttons side="left" class="color-white">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-title>
        <h1 class="text-center" ui-sref="app.home"><img src="img/logo.png" class="logo"></h1>
      </ion-nav-title>
      <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button> -->
      <ion-nav-buttons side="right"  >
        <h3 class="ion-ios-bell-outline color-white {{getCross}}" ng-click="whenClose();" menu-toggle="right">
        </h3>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable search-bar">
      <h1 class="title">
            <!--<ion-item class="item-input">
              <input type="text" placeholder="Search"  class="ion-search">
            </ion-item>-->
          </h1>
    </ion-header-bar>
    <ion-content class="get-menu">
      <div class="grid-menu">
        <div class="row">
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.exploresmaash">
              <img src="img/menu/explore.jpg" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.event">
              <img src="img/menu/events.jpg" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="cart relate" menu-close ui-sref="app.cart">
              <img src="img/menu/cart.jpg" alt="Smaash Menu" class="img-responsive">
              <div class="cart-badge badge">
                <span>3</span>
              </div>
            </div>
          </div>
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.earn">
              <img src="img/menu/points.jpg" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="" ui-sref="app.direction" menu-close>
              <img src="img/menu/directions.png" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.about">
              <img src="img/menu/about.jpg" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.buy">
              <img src="img/menu/recharge.png" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.home">
              <img src="img/menu/checkin.png" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="" menu-close ui-sref="app.direction">
              <img src="img/menu/contactus.png" alt="Smaash Menu" class="img-responsive">
            </div>
          </div>
          <div class="col col-50">
            <div class="" menu-close>
              <img src="img/menu/logout.jpg" alt="Smaash Menu" class="img-responsive" ng-click="logout();">
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right" class="notification">
    <ion-header-bar class="bar-stable header-strip">
      <h1 class="title">
        <div class="text-left">
          <span class="color-white"><i class="ion-android-notifications noti-icon"></i> Notification</span>
        </div>
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="noti-list" ng-click="whenClose();">
        <ion-item menu-close>
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
        <ion-item menu-close>
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<ion-footer-bar>
  <ion-tabs class="tabs-icon-only">
    <ion-tab class="hide" ui-sref="app.home" menu-close ng-click="closeAll()">
    </ion-tab>
    <ion-tab title="Explore" icon-on="foot-tab explore" icon-off="foot-tab explore" ng-click="closeAll('app.exploresmaash');">
    </ion-tab>
    <ion-tab title="Buy" icon-on="foot-tab buy" icon-off="foot-tab buy" ng-click="closeAll('app.buy');" menu-close>
    </ion-tab>
    <ion-tab title="My Account" ng-click="closeAll('app.account');" icon-on="foot-tab account" icon-off="foot-tab account" menu-close>
    </ion-tab>
    <ion-tab title="Check in" icon-on="foot-tab check" icon-off="foot-tab check" ng-click="closeAll('app.home');" menu-close>
    </ion-tab>
    <ion-tab title="Contact us" icon-on="foot-tab contact" icon-off="foot-tab contact"  ng-click="closeAll('app.direction');" menu-close>
    </ion-tab>
  </ion-tabs>
</ion-footer-bar>
