<ion-view>
  <ion-content class="choose-avatar bonus-bg evento offers">
      <div class="order-main text-center mt40">
        <h3 class="text-center text-uppercase text-in-shadow font-america ">offer 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vel laborum corporis.</p>
      </div>
    <div class="">
      <!--<div class="logo text-center">
        <a href=""><img src="img/big-logo.png" width="140" alt="Smaash"></a> 
      </div>-->
      <div class="list">
  <div class="">
<div class="bonus-img">
    <img src="img/banners/virats.png" alt="">
    <div class="bonus-text text-center ">
  <!--<p class="text-uppercase text-center text-in-shadow font-america">35,000</p>-->
    <p class="color-white text-in-shadow ot">Virat hit <br> 50 today?</p>
    </div>
  
</div>

     </div>
    
      </div>
    <div class="buttons ofbut">
     <a href="" class="share ">
         <img src="img/banners/yes.png" alt="">
        <div class="cart-badge badge">
                <span>21</span>
              </div>
            
               </a>
      <a href=""  class="review "> 
        <div class="cart-badge badge">
                <span>21</span>
              </div>
        <img src="img/banners/no.png" alt="">
        </a>
  <a href="" class="block next text-center"> 
    <div class="cart-badge badge">
                <span>21</span>
              </div>
    <img src="img/banners/may.png" alt="">
    </a>
</div>
<div class="option-para text-center color-white ">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, cum!</p>
</div>

    </div>
  </ion-content>
</ion-view>
