<ion-view>
  <ion-content class="order-bg order-text">
    <div class="order-main text-center">
        <h3 class="text-center text-uppercase text-in-shadow font-america">My Order</h3>
      </div>
    <ion-list no-lines>
      <!-- <ion-list-header class=">Today</ion-list-header> -->
  <ion-item>
    <div class="orders">
    <img src="img/appcricket.png" alt="order" class="img-responsive">
      <p class="text-uppercase text-in-shadow font-america">smaaash cricket</p>
    </div>
  </ion-item>
  <!-- <ion-list-header>
    Action
  </ion-list-header> -->
  <ion-item>
    <div class="orders">
    <img src="img/appcricket.png" alt="order" class="img-responsive">
    </div>
  </ion-item>
  <ion-item>
    <div class="orders">
    <img src="img/appcricket.png" alt="order" class="img-responsive">
    </div>
  </ion-item>
</ion-list>


  </ion-content>
</ion-view>
