<ion-view>
  <ion-content class="order-bg order-text">
    <div class="order-main text-center">
        <h3 class="text-center text-uppercase text-in-shadow font-america">My Orders</h3>
      </div>
    <ion-list no-lines>
      <!-- <ion-list-header class=">Today</ion-list-header> -->
  <ion-item class="game-orders pointer">
    <div class="close"><img src="img/close-popup.png" alt="close-popup" class="img-responsive"></div>
    <img src="img/appcricket.png" alt="order" class="img-responsive">
      <p class="text-uppercase text-in-shadow font-america">smaaash cricket</p>
  </ion-item>
  <ion-item class="game-orders pointer">
     <div class="close"><img src="img/close-popup.png" alt="close-popup" class="img-responsive"></div>
    <img src="img/smaaash.png" alt="order" class="img-responsive">
  <p class="text-uppercase text-in-shadow font-america">smaaash cricket</p>
  </ion-item>
  <ion-item class="game-orders pointer">
     <div class="close"><img src="img/close-popup.png" alt="close-popup" class="img-responsive"></div>
    <img src="img/appcricket.png" alt="order" class="img-responsive">
    <p class="text-uppercase text-in-shadow font-america">smaaash cricket</p>
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
