<ion-view>
  <ion-content class="signup partyform">
    <div class="resgistration">
      <div class="order text-center">
        <h3 class="text-center text-uppercase color-white font-america">for the most <br>memorable parties <br>filled with food <br> games and drinks</h3>
      </div>
      <ion-list>
        <div class="row">
          <div class="col-offset-10 col col-80">
            <form name="user" ng-submit="userSignup(userForm);">
              <label class="item item-input">
                <input type="text" placeholder="Name" name="fullname" required ng-model="userForm.fullname">
              </label>
              <p class="error-msg" ng-if="user.fullname.$error.required && user.fullname.$touched">Please Enter Your Name.</p>
              <!--<label class="item item-input">
                <input type="text" onfocus="this.type='date'" name="dob" onblur="this.type='text'" placeholder="DOB" class="calendar" required ng-model="userForm.dob">
              </label>
              <p class="error-msg" ng-if="user.dob.$error.required && user.dob.$touched">Please Enter Your DOB.</p>-->
              <label class="item item-input ">
                <div class="custom-select calendar">
                  <select class="city" required ng-model="userForm.city">
                    <option selected value="">City</option>
                    <option value="mumbai">mumbai</option>
                    <option value="noida">noida</option>
                  </select>
                </div>
              </label>
                            <label class="item item-input ">
                <div class="custom-select calendar">
                  <select class="people" required ng-model="userForm.people">
                    <option selected value="">Select no of people</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
                </div>
              </label>
              <label class="item item-input">
                <input type="tel" placeholder="Mobile Number" name="mobileno" ng-model="userForm.mobileno" required>
              </label>
              <p class="error-msg" ng-show="user.mobileno.$error.required && user.mobileno.$touched">Please Enter Your Mobile Number.</p>
              <label class="item item-input">
                <input type="email" placeholder="Email id" required ng-model="userForm.email" name="email">
              </label>
              <p class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email.</p>
              <!--<label class="item item-input">
                <input type="text" placeholder="Enter Pin Code" required ng-model="userForm.pin" name="pin">
              </label>
              <p class="error-msg" ng-show="user.pin.$error.required && user.pin.$touched">Please Enter Your Pin Code.</p>-->
              <div class="final-decision text-center">
                  <a href="" class="color-white">Cancel</a>
              <button type="submit" name="button" class="go " ng-click="oneTimepswd();">
                <img src="img/go.png" alt="" class="img-responsive">
              </button>
              </div>
              
              <!--<p class="text-center color-white font-galano">OR</p>
              <p class="text-center color-white font-galano" ui-sref="app.home">Continue without Signing in</p>-->
            </form>
          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
