<ion-view>
  <ion-content class="payment">
    <div class="payment-main">
      <h3 class="text-center text-uppercase text-in-shadow font-america">Payment Information</h3>
      <div class="accordion-main">
        <ion-list>
          <ion-item class="item points" ng-click="accordion(1);" ng-class="{'active' : showAccordion==1}">
            <div class="accordion-heading clearfix">
              <span class="text-uppercase text-in-shadow pull-left font-america">smaash points</span>
              <span class="pull-right font-america"><i class="icon color-white shadow-text" ng-class="{'ion-minus' : showAccordion==1, 'ion-plus': showAccordion!=1}"></i></span>
            </div>
            <div ng-if="showAccordion == 1" class="accordion-data">
              <p class="font-galano no-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis aperiam nisi dolorem veniam eum facilis vitae reiciendis deserunt alias, velit dolore itaque repellat voluptas a, dolorum, in culpa libero.</p>
            </div>
          </ion-item>
          <ion-item class="item wallet" ng-click="accordion(2);" ng-class="{'active' : showAccordion==2}">
            <div class="accordion-heading clearfix">
              <span class="pull-left font-america"><i class="icon color-white shadow-text " ng-class="{'ion-minus' : showAccordion==2, 'ion-plus': showAccordion!=2}"></i></span>
              <span class="text-uppercase text-in-shadow pull-right font-america">wallet</span>
            </div>
            <div ng-if="showAccordion == 2" class="accordion-data">
              <p class="font-galano">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis aperiam nisi dolorem veniam eum facilis vitae reiciendis deserunt alias, velit dolore itaque repellat voluptas a, dolorum, in culpa libero.</p>
            </div>
          </ion-item>
          <ion-item class="item credit-card" ng-click="accordion(3);" ng-class="{'active' : showAccordion==3}">
            <div class="accordion-heading clearfix">
              <span class="text-uppercase text-in-shadow pull-left font-america">credit card</span>
              <span class="pull-right font-america"><i class="icon color-white shadow-text" ng-class="{'ion-minus' : showAccordion==3, 'ion-plus': showAccordion!=3}"></i></span>
            </div>
            <div ng-if="showAccordion == 3" class="accordion-data">
              <p class="font-galano">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis aperiam nisi dolorem veniam eum facilis vitae reiciendis deserunt alias, velit dolore itaque repellat voluptas a, dolorum, in culpa libero.</p>
            </div>
          </ion-item>
          <ion-item class="item debit-card" ng-click="accordion(4);" ng-class="{'active' : showAccordion==4}">
            <div class="accordion-heading clearfix">
              <span class="pull-left font-america"><i class="icon color-white shadow-text" ng-class="{'ion-minus' : showAccordion==4, 'ion-plus': showAccordion!=4}"></i></span>
              <span class="text-uppercase text-in-shadow pull-right font-america">debit card</span>
            </div>
            <div ng-if="showAccordion == 4" class="accordion-data">
              <p class="font-galano">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis aperiam nisi dolorem veniam eum facilis vitae reiciendis deserunt alias, velit dolore itaque repellat voluptas a, dolorum, in culpa libero.</p>
            </div>
          </ion-item>
          <ion-item class="item net-banking" ng-click="accordion(5);" ng-class="{'active' : showAccordion==5}">
            <div class="accordion-heading clearfix">
              <span class="text-uppercase text-in-shadow pull-left font-america">net banking</span>
              <span class="pull-right font-america"><i class="icon color-white shadow-text" ng-class="{'ion-minus' : showAccordion==5, 'ion-plus': showAccordion!=5}"></i></span>
            </div>
            <div ng-if="showAccordion == 5" class="accordion-data">
              <p class="font-galano">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis aperiam nisi dolorem veniam eum facilis vitae reiciendis deserunt alias, velit dolore itaque repellat voluptas a, dolorum, in culpa libero.</p>
            </div>
          </ion-item>
        </ion-list>
        <div class="pull-right mt10 font-galano">
          <a href=""><img src="img/pay.png" alt="pay" width="55" class="img-responsive"></a>
          <span class="color-white ml5 mr5">or</span>
          <a href="" class="color-white">Cancel</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
