<ion-view>
  <ion-content class="profile-bg profile recharge">
    <div class="recharge-main resgistration relate">
        <h3 class="text-center text-uppercase text-in-shadow font-america mb5">edit profile</h3>
        <div class="user-info relate">
        <div class="profile-strip profile-info">
          <div class="row">
            <div class="col col-33 col-offset-10">
              <div class="relate">
                <div class="profile-img">
                  <img src="img/profile-img.jpg" alt="profile-image" class="img-responsive" ng-click="uploadProfilePic();">
                </div>
                <div class="plan" ui-sref="noheader.avatar">
                  <img src="img/pens.png" alt="edit" class="img-responsive">
                </div>
              </div>
            </div>
            <div class="col col-50">
              <div class="clearfix relate">
                <div class="name pull-left">
                  <h4 class="m-clear text-in-shadow color-white font-america">Amrit Bhamrah</h4>
                  <span class="text-in-shadow color-white font-america">Cricketer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-80">
          <form>
            <label class="item item-input">
              <input type="text" placeholder="Amrit Bamrah" class="editing">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="1-01-94" class="arrows">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Female"  class="editing">
            </label>
            <label class="item item-input">
              <input type="tel" placeholder="+91 98200 98200" class="editing">
            </label>
            <label class="item item-input">
              <input type="email" placeholder="amrit_bhamrah@gmail.com" class="editing">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="400009" class="editing">
            </label>
            <button type="submit" name="button" class="go full-width" >
              <img src="img/update.png" alt="" class="img-responsive">
            </button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
