<ion-view>
  <ion-content class="recharge">
    <div class="recharge-main resgistration">
      <div class="row">
        <div class="col col-offset-10 col-80">
          <h3 class="text-center text-uppercase text-in-shadow font-america mb5">online recharge</h3>
          <p class=" text-center color-white font-galano">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <form>
            <label class="item item-input">
              <input type="text" placeholder="Name on card">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Card Number" class="card-no">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Amount" class="amount">
            </label>
            <button type="submit" name="button" class="go full-width" ng-click="popHeadline();">
              <img src="img/go.png" alt="" class="img-responsive">
            </button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
