<ion-view>
    <ion-content class="select-city">
        <div class="">
            <div class="logo text-center">
                <a href=""><img src="img/big-logo.png" width="140" alt="Smaash"></a>
            </div>
            <h2 class="text-uppercase text-center text-in-shadow font-america">select your city</h2>
            <div class="row" ng-repeat="city in getCity">
                <div class="col col-50" ng-repeat="data in city">
                    <div class="choose-city">
                        <a href="" ng-click="selectCity(data);"><img ng-src="{{data.image|uploadpath}}" class="img-responsive" alt="select-city"></a>

                    </div>
                </div>
                <!-- <div class="col col-50">
          <div class="choose-city">
            <a href="" ui-sref="noheader.signup"><img src="img/hyderabad.png" class="img-responsive" alt="select-city"></a>
          </div>
        </div> -->
            </div>
            <!-- <div class="row">
        <div class="col col-50">
          <div class="choose-city">
            <a href="" ui-sref="noheader.signup"><img src="img/gurgoan.png" class="img-responsive" alt="select-city"></a>
          </div>
        </div>
        <div class="col col-50">
          <div class="choose-city">
            <a href="" ui-sref="noheader.signup"><img src="img/mumbai.png" class="img-responsive" alt="select-city"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="choose-city">
            <a href="" ui-sref="noheader.signup"><img src="img/noida.png" class="img-responsive" alt="select-city"></a>
          </div>
        </div>
        <div class="col col-50">
          <div class="choose-city">
            <a href="" ui-sref="noheader.signup"><img src="img/ludhiana.png" class="img-responsive" alt="select-city"></a>
          </div>
        </div>
      </div> -->
        </div>
    </ion-content>
</ion-view>
