<ion-view>
  <ion-content class="signup">
    <div class="">
      <div class="logo text-center">
        <a href=""><img src="img/city-logo.png" width="180" alt="Smaash"></a>
      </div>
      <ion-list>
        <form action="">
          <label class="item item-input">
            <input type="text" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="date" placeholder="DOB">
          </label>
          <label class="item item-input">
            <select name="" id="">
              <option value="">Male</option>
              <option value="">Female</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Mobile Number">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email id">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Enter Pin Code">
          </label>
          <button type="submit" name="button"> Go
            <!-- <img src="" alt="" class="img-responsive"> -->
          </button>
          <p>OR</p>
          <span>Continue without Signing in</span>
        </form>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
