<ion-view>
  <ion-content class="signup">
    <div class="resgistration">
      <div class="logo text-center">
        <a href=""><img src="img/big-logo.png" width="160" class="img-responsive" alt="Smaash"></a>
      </div>
      <ion-list>
        <div class="row">
          <div class="col-offset-10 col col-80">
            <form>
              <label class="item item-input">
                <input type="text" placeholder="Name">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="DOB" class="calendar">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Gender">
              </label>
              <label class="item item-input">
                <input type="number" placeholder="Mobile Number">
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email id">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Enter Pin Code">
              </label>
              <button type="submit" name="button" class="go full-width" ng-click="oneTimepswd();">
                <img src="img/go.png" alt="" class="img-responsive">
              </button>
              <p class="text-center color-white">OR</p>
              <p class="text-center color-white" ui-sref="noheader.avatar">Continue without Signing in</p>
            </form>
          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
