
<ion-view>
  <ion-content class="smaash-bg">
    <div class="order-main text-center">
      <h3 class="text-center text-uppercase text-in-shadow font-america">smaaash cricket</h3>
    </div>
  

    <!--<div class="list card brand-purblu">
      <div class="row">
        <div class="col-50">
          <div class="item item-image brand-blue">
            <img src="img/explore1.png">
          </div>
        </div>
        <div class="col-50">
          <div class="button-set">
            <button class="text-uppercase blue">buy now</button>
            <button class="text-uppercase blue">events</button>
            <button class="text-uppercase blue">deals and packages</button>
          </div>
          <div class="love"><button class="text-uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
        </div>
      </div>
    </div>-->
    <!--<div class="accordion-list">
      <div class="list card">
        <ion-list class="accordion ">
          <ion-item ng-repeat="item in items" class="item item-text-wrap brand-blue relate">
            <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
              <h2 class="text-left  text-uppercase text-in-shadow font-america">{{ item.title }}</h2>
              <p>{{ item.text }}</p>
            </div>
            <div ng-click="toggleItem(item)" class="item-expand-footer">
              <i ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
             
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>-->
  </ion-content>
</ion-view>
