<ion-view>
  <ion-content class="attraction-bg attractions about-text attract-new">
    <div class="order-main text-center clearfix">
      <h3 class="text-center text-uppercase text-in-shadow font-america pull-left">whats new ?</h3> </div>
    <div class="list card" ng-repeat=" data in SingleExploreSmaaash">
      <div class="karting-championship">
        <div class="brand-blue relate">
          <img ng-src="{{data.image | uploadpath}}" class="img-responsive" alt="">
          <!--<a href="" class="pink-button"><img src="img/pinky.png" class="img-responsive" alt=""></a>-->
        </div>
        <div class="new-detail">

          <div class="head-name">
            <h3 class="margin0 bluey text-uppercase font-america " ng-bind-html="data.hometext"></h3>
            <h3 class="margin0 bluey text-uppercase font-america " ng-if="!data.hometext">Nothing to show.</h3>
          </div>
          <div class="button-set clearfix">
            <ul class="social-icons list-inline  inline-block pull-left icos">
              <p class="inline-block">Share</p>
              <li class="inline-block">
                <h3 class="ion-social-facebook"></h3>

              </li>
              <li class="inline-block">
                <h3 class="ion-social-twitter"></h3>
              </li>
              <li class="inline-block">
                <h3 class="ion-social-googleplus-outline"></h3>
              </li>
            </ul>
            <button class="text-uppercase blue pull-right">read more </button>

          </div>
          <div class="love" >
            <button class="text-uppercase" ng-click="addedToWishList(data._id)">
              <span class="ion text-uppercase" ng-class="{'ion-ios-heart-outline':!isInWishlist(data._id),'ion-heart':isInWishlist(data._id)}"> would love to try</span>
            </button>
          </div>

        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
