// fonts
@font-face {
    font-family: "American Purpose";
    src: url("../fonts/American Purpose.ttf");
}
@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/Galano Grotesque.otf");
}
// end fonts
// classes
.relate { position: relative; }
.get-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
.no-border {
  border: none !important;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.m-clear { margin: 0; }
.pointer { cursor: pointer; }
.color-white { color: #fff; }
.font-america { font-family: "American Purpose"; }
.font-galano { font-family: "GalanoGrotesque"; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.full-width { width: 100%; }
.pull-left { float: left; }
.pull-right { float: right; }
// end classes
// start scss

.tab-item {
  .foot-tab {
    height: 48px;
    background-repeat: no-repeat;
    background-position: 50% -4px;
  }
  .explore {
    background-image: url('../img/explore.jpg');
  }
  .buy {
    background-image: url('../img/buy.jpg');
  }
  .account {
    background-image: url('../img/account.jpg');
  }
  .check {
    background-image: url('../img/checkin.jpg');
  }
  .contact {
    background-image: url('../img/contactus.jpg');
  }
}
.header {
  .bar.bar-stable {
    border: none;
    background-color: transparent;
    background-image: none;
  }
  .logo {
    margin-top: 5px;
  }
}
// select city
  .select-city {
    padding: 20px;
    background: url('../img/bgblue.png') no-repeat;
    background-size: cover;
    .city {
      color: #fff;
      text-shadow: -2px -2px #000, 2px 2px #000;
    }
  }
  .choose-city {
    padding: 0px 5px;
    margin: 10px 0;
  }
// end select city
// signup registration
.signup {
  padding: 20px;
  background: url('../img/bggreen.png')  no-repeat;
  background-size: cover;
}
.resgistration {
  label {
    padding: 0;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: -2px -3px 3px #7a837b;
    input {
      height: 40px;
      padding: 8px 16px;
    }
  }
  .calendar {
    background: url('../img/arrow.png') no-repeat 95% 50%;
    cursor: pointer;
  }
}
.go {
  border: none;
  background-color: transparent;
}
// signup registration end
// popups
.popup-container .popup {
  width: 100%;
  background-color: transparent;
}
.popup-head { border: none; }

// otp
.otp-content {
  position: absolute;
  top: 70%;
  left: 30%;
  @include transform(translate(-30%,-70%));
  p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  label {
    margin-bottom: 7px;
    input { font-size: 13px; }
  }
  button {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
// end otp
// end popups
