<!--<div class="thank text-center">

<div class="clearfix"></div>
Please do login or register.
</div>
<div class="close" ng-click="closeModals();"><img src="img/close-popup.png" alt="close-popup" class="img-responsive"></div>-->

<div class="headline">
  <div class="relate">
    <img src="img/box-pop.png" alt="" class="img-responsive">
    <div class="popup-content text-center get-center full-width">
      <!--<h4 class="text-in-shadow font-america">HEADLINE</h4>-->
      <p class="color-white">Please do login or register.</p>
    </div>
    <div class="close" ng-click="closeModals();"><img src="img/close-popup.png" alt="close-popup" class="img-responsive"></div>
  </div>
</div>